<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

    <select id="selectBoard" statementType="PREPARED"
            parameterType="int"
            resultType="gahee.spring.mvc.vo.Board">
        select bdno, title, userid, regdate, views, thumbup from board
        order by bdno desc limit #{snum}, 30
    </select>

    <select id="countBoard" statementType="PREPARED"
            resultType="int">
        select count(bdno) cnt from board
    </select>

    <insert id="insertBoard" statementType="PREPARED"
            parameterType="gahee.spring.mvc.vo.Board">
        insert into board (title, userid, contents)
        values (#{title}, #{userid}, #{contents})
    </insert>

    <select id="selectOne" statementType="PREPARED"
            parameterType="String"
            resultType="gahee.spring.mvc.vo.Board">
        select * from board where bdno = #{bdno}
    </select>

    <update id="viewsBoard" statementType="PREPARED"
            parameterType="String" >
        update board set views = views + 1
        where bdno = #{bdno}
    </update>

    <!-- 동적질의문으로 검색기능 구현(Dynamic query) -->
    <!-- 컬럼명이나 테이블명에는 #{}가 아닌 ${}를 사용! -->
    <select id="findSelect" statementType="PREPARED"
            parameterType="map"
            resultType="gahee.spring.mvc.vo.Board">
        select bdno, title, userid, regdate, views, thumbup from board
        <if test="ftype != 'titcont'">
                    where ${ftype} like concat(#{fkey}, '%' ) </if>
        <if test="ftype == 'titcont'">
                    where title like concat(#{fkey}, '%') or
                       contents like concat(#{fkey}, '%') </if>
        order by bdno desc limit #{snum}, 30
    </select>

    <select id="findSelectCount" statementType="PREPARED"
            parameterType="map" resultType="int">
        select count(bdno) cnt from board
        <if test="ftype != 'titcont'">
            where ${ftype} like concat(#{fkey}, '%' ) </if>
        <if test="ftype == 'titcont'">
            where title like concat(#{fkey}, '%') or
               contents like concat(#{fkey}, '%') </if>
    </select>

</mapper>