<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

    <select id="selectBoard" statementType="PREPARED"
            parameterType="int"
            resultType="gahee.spring.mvc.vo.Board">
        select bdno, title, userid, regdate, views, thumbup from board
        order by bdno desc limit #{snum}, 30
    </select>

<!--    <insert id="insertBoard" statementType="PREPARED"-->
<!--            parameterType="gahee.spring.mvc.vo.Member">-->
<!--        insert into joinMember-->
<!--            (name, userid, passwd, jumin, zipcode, addr1, addr2, email, phone)-->
<!--        values(#{name},#{userid},#{passwd},#{jumin},#{zipcode},#{addr1},#{addr2},#{email},#{phone});-->
<!--    </insert>-->

<!--    <select id="selectZipcode" statementType="PREPARED"-->
<!--            parameterType="String"-->
<!--            resultType="gahee.spring.mvc.vo.Zipcode">-->
<!--        select * from zipcode where dong like #{dong}-->
<!--    </select>-->

<!--    <select id="checkUserid" statementType="PREPARED"-->
<!--            parameterType="String" resultType="int" >-->
<!--        select count(userid) cnt-->
<!--        from joinMember-->
<!--        where userid = #{userid}-->
<!--    </select>-->

<!--    <select id="checkLogin" statementType="PREPARED"-->
<!--            parameterType="gahee.spring.mvc.vo.Member" resultType="int">-->
<!--        select count(userid) cnt-->
<!--        from joinMember-->
<!--        where userid = #{userid} and passwd = #{passwd}-->
<!--    </select>-->

</mapper>