<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pds">

    <insert id="insertPds" statementType="PREPARED"
            parameterType="gahee.spring.mvc.vo.Pds">
        insert into pds (title, userid, contents,
                         fname1, fname2, fname3, fsize1, fsize2, fsize3,
                         ftype1, ftype2, ftype3, uuid)
        values (#{title},#{userid},#{contents},#{fname1},#{fname2},#{fname3},#{fsize1},#{fsize2},#{fsize3},
                #{ftype1},#{ftype2},#{ftype3},#{uuid})
    </insert>

    <select id="selectPds" statementType="PREPARED"
            parameterType="int" resultType="gahee.spring.mvc.vo.Pds">
        select pno, title, userid, regdate, thumbup, views from pds
        order by pno desc limit #{snum}, 30
    </select>

    <select id="countPds" statementType="PREPARED"
            resultType="int">
        select count(pno) cnt from pds
    </select>

    <select id="selectOnePds" statementType="PREPARED"
            parameterType="String" resultType="gahee.spring.mvc.vo.Pds">
        select * from pds where pno = #{pno}
    </select>
</mapper>